.Cards{
  padding: 35px 10px;
}

.Cards button {
  cursor: pointer;
  padding: 8px;
  background-color: var(--details-color);
  color: #04292C;
  border: none;
  border-radius: 4px;
  font-family: var(--principal-font);
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
}

.Cards-container{
    display: flex;
    margin-top: 15px;
    gap: 25px;
    flex-direction: column;
}

.Card h2{
  font-size: 24px;
  color: var(--details-color);
}

.Card h3{
  font-size: 18px ;
  color: white;
  font-weight: 400;
  font-family: var(--title-font);
}

.Card p {
  font-size: 14px;
  color: white;
  margin-bottom: 0;
}

.Card1{
  grid-column: 2;
}
.Card2{
  grid-row: 2;
}
.Card3 {
  grid-column: 2;
}

@media (min-width: 600px) {
  .Cards{
    padding: 30px;
  }

  .Cards-container{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }

  .Card{
    text-align: left;
  }
}
