.Footer{
  padding: 20px 5px;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.Footer p {
  margin: 0 ;
  font-family: var(--title-font);
  color: white;
}

.Footer a {
  font-family: var(--title-font);
  color: var(--details-color);
}

@media (min-width: 720px) { 
  .Footer{
    margin-top: 40px;
  }
}
