@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root{

  --title-font: 'Advent Pro', sans-serif;
  --principal-font: 'Roboto', sans-serif;

  --hover-color: #b1b1b1;
  --details-color: #DDDC86;

}

* { 
  box-sizing: border-box; 
  font-family: var(--principal-font);
}

html{
  width: 100%;
  background: url(../assets/deva-darshan-BMFAd8vcMow-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

body{
  margin: 0;
  backdrop-filter: brightness(0.45);
}

@media (min-width: 620px) {

  html{
    height: 100vh;
  }

  body{
    height: 100vh;
  }
}

a{
  text-decoration: none;
  color: white;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* deva-darshan-2XUfjLp7HYY-unsplash 1 */


