---

---

<section class="Cards">
  <button>Start to explore</button>
  <div class="Cards-container">

    <div class="Card Card1">
      <h2>01</h2>
      <h3>Choose place, activity <br/> and time</h3>
      <p>Everyone can choose a root and activity according to his taste and possibilities.</p>
    </div>

    <div class="Card Card2">
      <h2>02</h2>
      <h3>Find people who have <br/> the same travel plans</h3>
      <p>You can find people with the same interests, who know the routes you've never traveled.</p>
    </div>

    <div class="Card Card3">
      <h2>03</h2>
      <h3>Start chat and offer <br/> to go on a joint advennure</h3>
      <p>Discuss the details of your trip and have a great time! You might find a great friend for life.</p>
    </div>

  </div>
</section>