---
import logo from "../../public/logo.svg"
---

<header class="Header">

  <div class="Logo">
    <img src={logo} alt="Logo CoTravel" />
    <a href="#">CoTravel</a>
  </div>

  <a href="#" class="Sign"> Sign in</a>

  <nav class="Nav">
    <ul>

      <li>
        <a href="#">Destinations</a>
      </li>

      <li>
        <a href="#">Members</a>
      </li>

      <li>
        <a href="#">About Us</a>
      </li>

      <li>
        <a href="#">Testimonials</a>
      </li>

      <li>
        <a href="#">Gallery</a>
      </li>

    </ul>
  </nav>
</header>